@font-face {
    font-family: 'Alkatra';
    src: url('~/assets/fonts/Alkatra-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Rubik';
    src: url('~/assets/fonts/Rubik-Regular.ttf');
}

$title-font: 'Alkatra', sans-serif;
$body-font: 'Rubik', sans-serif;
