.btn {
    background-color: $secondary;
    border-radius: 30px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    height: 55px;
    line-height: 52px;
    margin-top: 2rem;
    overflow: hidden;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    transition: all 0.5s ease;
    width: fit-content;
    z-index: 0;
}

.btn:after {
    background: #000;
    content: '';
    height: 100%;
    left: -35%;
    position: absolute;
    top: 0;
    -webkit-transform: skew(30deg);
    transform: skew(30deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    transition: all 0.3s ease-in;
    transition-duration: 0.6s;
    width: 0;
    z-index: -1;
}

.btn:hover {
    background-color: $secondary;
    color: #fff;
}

.btn:hover:after {
    height: 100%;
    width: 135%;
}
