* {
    font-family: $body-font !important;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

#__nuxt {
    min-height: 100vh;
    overflow: hidden;
}

.v-theme--light {
    --v-hover-opacity: 0.04;
    --v-theme-overlay-multiplier: 1;
}

.send-message-emoji-icon {
    border: none;
    cursor: pointer;
    height: 25px;
    transition: all 0.2s ease-in-out;
    width: 25px;

    &:hover {
        color: $primary;
    }
}
